<footer class="footer-page">

    <div class="both">
        <section class="first-section">
            <div class="container">
                <h2> Онлайн-запис</h2>
                <form>
                    <div class="footer-form ">
                        <div class="form-field">
                            <label for="name"> </label>
                            <input type="text" id="name" placeholder="name*">
                        </div>
                        <div class="form-field">
                            <label for="phone-number"> </label>
                            <input type="number" id="phone-number" placeholder="телефон*">
                        </div>
                        <textarea name="textarea" placeholder="повідомлення"></textarea>
                        <button class="button-link-text-go" type="submit" class="footer-buttom"> Відправити </button>
                    </div>
                </form>
            </div>
        </section>

        <section class="second-section ">
            <div class="container">
                <div>
                    <h2> Контакти </h2>
                    <address class="footer-address">
                        <ul class="list">
                            <li class="item">
                                <svg class="icon">
                                    <use href="./images/sprite.svg#icon-map-pin"></use>
                                </svg>
                                <span class="street"> ул.Васильковая,<br />
                                    7А Киев, 08132</span>
                            </li>
                            <li class="item">
                                <svg class="icon">
                                    <use href="./images/sprite.svg#icon-phone"></use>
                                </svg>
                                <a class="link" href="tel:+380441111111"> +38 044 111 11 11 </a></li>
                            <li class="item">
                                <svg class="icon">
                                    <use href="./images/sprite.svg#icon-mail"></use>
                                </svg> <a class="link" href="mailo:barbershop@email.com"> barbershop@email.com </a>
                            </li>
                        </ul>
                    </address>
                </div>
                <di>

                    <div class="before-third-head ">
                        <h3> час роботи </h3>
                    </div>
                    <span class="close-open"> Щоденно з 9:00 до 22:00 </span>
                </di>
            </div>
        </section>
    </div>

    <section class="third-section container">
        <span class="copyright"> &#169 Copyright 2020 </span>
        <ul class="social-list">
            <li class="item">
                <div class="before-link ">
                    <a class="link" href="#"> Instagram </a>
            </li>
            </div>
            <li class="item">
                <a class="link" href='#'> YouTube </a></li>
        </ul>
    </section>
</footer>