<!-- Шапка страницы -->
<header class="header-page container">
  <div class="mobile-header">
    <a class="logo" href="#" aria-label="Логотип">
      <svg
        class="icon-logo"
        width="69"
        height="56"
        xmlns="http://www.w3.org/2000/svg"
      >
        <use href="./images/Logo.svg"></use>
      </svg>
    </a>
    <!-- Бургер для мобилок -->
    <button class="menu-button" type="button" data-menu-button>
      <svg
        class="icon"
        width="40px"
        height="40px"
        aria-expanded="false"
        aria-controls="menu-container is-open"
        aria-label="переключатель мобильного меню"
      >
        <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
        <use class="icon-cross" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="menu-container is-open" id="menu-container" data-menu>
    <nav class="nav">
      <ul class="list">
        <li class="item">
          <a href="#about-us">О нас</a>
        </li>
        <li class="item">
          <a href="#price">Услуги и цены</a>
        </li>
        <li class="item">
          <a href="#workers">Мастера</a>
        </li>
        <li class="item">
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="contacts">
      <ul class="list">
        <li class="item">
          <a href="tel:+380441111111">+38 044 111 11 11</a>
        </li>
        <li class="item">
          <a href="online-blog" class="button-link-white">
            <p class="button-link-text-white">онлайн-запись</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="we-in-soc">
      <ul>
        <li>
          <a href="">Instagram</a>
        </li>
        <li>
          <a href="">Youtube</a>
        </li>
      </ul>
    </div>
  </div>
</header>
